.chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 1px solid #ccc;

  &__header {
    background-color: #349BB1;
    padding: 10px;
  }

  &__title {
    color: white;
  }

  &__messages {
    flex: 1 1 auto;
  }

  &__new-message {
    display: flex;
    padding: 10px;
  }

  &__input {
    flex-grow: 1;
    margin-right: 10px;
  }

  &__button {
    background-color: #349BB1;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
      background-color: #C1EEF7;
    }
  }
}


.message {
  padding: 10px;

  &__author {
    font-weight: bold;
  }

  &__timestamp {
    float: right;
    opacity: 0.6;
  }

  &__text {
    display: block;
    clear: both;
  }
}
