.chat {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: 1px solid #ccc;
}

.chat__header {
    background-color: #349BB1;
    padding: 10px;
}

.chat__title {
    color: white;
}

.chat__messages {
    flex: 1 1 auto;
}

.chat__new-message {
    display: flex;
    padding: 10px;
}

.chat__input {
    flex-grow: 1;
    margin-right: 10px;
}

.chat__button {
    background-color: #349BB1;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.chat__button:hover {
    background-color: #C1EEF7;
}

.message {
    padding: 10px;
}

.message__author {
    font-weight: bold;
}

.message__timestamp {
    float: right;
    opacity: 0.6;
}

.message__text {
    display: block;
    clear: both;
}